
.frontPage 
    {
    background-color:rgb(255, 94, 0);
    }
.outlay 
{
    justify-content: space-around;
    align-items: center;
    /* height: 500px!important; */
} */
.box1 {
    position: relative;
    z-index: 1;
}
.box2 {
    position: relative;
    z-index: 1;
}
.line1 {
font-size: 36px;
color: #ffffff;
font-family: 'OpenSans-Bold';
line-height: 1.34;
}
.line2 {
    font-size: 16px;
    color: #ffffff;
    font-family: 'OpenSans-Light';
    line-height: 1.34
}
.line3 {
    font-size: 24px;
    color: #ffffff;
    font-family: 'OpenSans-Light';
    line-height: 1.34;
}
.buybutton {
    width: 210px;
    border: 1px solid #ffffff;
    text-align: center;
    border-radius: 999px;
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    font-family: 'OpenSans-Light';
    line-height: 1.34;
    padding: 12px 0 13px 0;
}
.box3 {
    display: flex;
    justify-content: space-around;
    position: relative;
    border: 1px solid;
    flex-wrap: wrap;
}
.footer {
    margin: 100px 0 0 0;
}
.social {
    width: 40px;
    height: auto;
    float: left;
    margin: 30px 10px 0 0;
}
.copyright {
    background-color: black;
    color: #ffffff;
    font-family: 'OpenSans-Light';
    font-size: 16px;
    width: 100%;
    text-align: right;
    margin: 20px 0 0 0;
}

.copyright p {
    margin: 10px 0 10px 800px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}